<body class="LoginBgcolor">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-1">
                <img src="~/images/Icons/Icons/Scheduler.png" class="img-responsive img-thumbnail pull-left IconTeleHealth" />

            </div>
            <div class="col-sm-1">
                <img src="~/images/Icons/Icons/Alert.png" class="img-responsive img-thumbnail pull-left IconTeleHealth" />

            </div>
            <div class="col-sm-1">
                <img src="~/images/Icons/Icons/Summary.png" class="img-responsive img-thumbnail pull-left IconTeleHealth" />

            </div>
            <div class="col-sm-1">
                <img src="~/images/Icons/Icons/Events.png" class="img-responsive img-thumbnail pull-left IconTeleHealth" />

            </div>
            <div class="col-sm-1">
                <img src="~/images/Icons/Icons/Settings.png" class="img-responsive img-thumbnail pull-left IconTeleHealth" />

            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" value="User : Steve" disabled />
                
                <input type="text" class="form-control" value="Profile : BAS" disabled />
            </div>
            <div class="col-md-2" >
                <span>@System.DateTime.Now.ToString("dddd, dd MMMM yyyy")</span>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>COOLING TOWER & WATER PUMP</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <div class="btnsquare">CT-CWP CENTER-3A</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP E CENTER</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 2B</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 3A</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 3B</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 3B</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 4A</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 4A</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">CT-CWP ZONE - 4A</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">SPARE 1</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">SPARE 2</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">SPARE 3</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @**@
                </div>
                <div class="col-md-4 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>ELECTRICAL</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <div class="btnsquare">MDB BASEMENT</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">MIC</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">GENERATOR - 1</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">GENERATOR - 1</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">SPARE 1</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">SPARE 2</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btnsquare">SPARE 3</div>
                                        </td>
                                        <td>
                                            <div class="btnsquare">SPARE 4</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>LIGHTNING DB-FDB</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="btnsquare">BASEMENT - 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">BASEMENT - 2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">BASEMENT - 3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">THIRD FLOOR  1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">THIRD FLOOR  2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">THIRD FLOOR  3</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @**@
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>WATER COOLED PACKED</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="btnsquare">EC-BASEMENT - 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">EC-BASEMENT - 2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">EC-BASEMENT - 3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">FIRST FLOOR - 3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SECOND FLOOR  3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">CELEBRITY FITNES - 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">CELEBRITY FITNES - 2</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">CELEBRITY FITNES - 3</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>FAN</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="btnsquare">AREA-1 CARPARK</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">AREA-2 CARPARK</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">AREA-1 RESTORANT</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">AREA-2 RESTORANT</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">AUDITORIUM AREA 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">AUDITORIUM AREA 2</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SPARE 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SPARE 1</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @**@
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>PUMP</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="btnsquare">PUMP BASEMENT 1</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">PUMP RESTORANT 2</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">TOWER X</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SPARE 1</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @**@
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>DOOR ENTRY</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="btnsquare">ESCALATOR</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">ELEVATOR</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SPARE 1</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SPARE 2</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SPARE 3</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SPARE 4</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btnsquare">SPARE 5</div>
                                    </td>
                                    <td>
                                        <div class="btnsquare">SPARE 6</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<link href="~/Style/Icos.css" rel="stylesheet" />