

<div class="list-group">

    <div class="container-fluid" style="background-color:white;">
        <form style="margin:5px;">
            <div class="row">
                <div class="col-lg-12">
                    <label>Date of Consultation</label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <label>Search by Name</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <label>Choose Speciality</label>
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-lg-12">
                    <label>Search By</label>
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>Filter By Gender & Location</label>
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>View Options</label>
                    <select class="form-control">
                        <option>Option One</option>
                    </select>
                    <br />


                </div>

            </div>

        </form>
        <br />
    </div>
</div>
